@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#message {
  background-color: #cecece7c;
  border: 1px solid #575757;
  border-radius: 5px;
  width: 100%;
  }
  #email {
    background-color: #cecece7c;
    border: 1px solid #575757;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    }
    #submitbtn {
      background-color: #5bb0ffa1;
      border: 1px solid #575757;
      border-radius: 5px;
      width: 50%;
      height: 30px;
      }

.container {
width: auto;
}

  #main {
    background-color: transparent;
  }
  #contact {
    font-family: 'Roboto', sans-serif;
    background-color: #161b22;
    color: #ffffff;
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('icon/noto-bg-dark.jpg');
  }

  #webapp  {
font-family: 'Amiri', serif; 
font-weight: bold;
color: #181414;
background-color: #fcca34c7;
background-size: cover;
width: 95%;
margin: auto;
margin-bottom: 80px;
margin-top: 30px;
border-radius: 20px;
padding: 20PX;
  }

  .add-button {
    font-family: "Roboto", sans-serif;
    background: transparent;
    font-weight: bold;
    font-size: 0.9rem;
    font-weight: inherit;
    cursor: pointer;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgb(56, 56, 56);
    text-decoration: none;
    padding: 10px;
    }
