.row {
z-index: 1;
width: 96%;
max-width: 400px;
height: 7%;
min-height: 60px;
max-height: 70px;
position: fixed;
left: 50%; 
transform: translateX(-50%);
  bottom: 0px;

border-radius: 20px 20px 0px 0px;
  border-color: #5af7dc;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
background-color: #3B3B3B;
}

/* ============================================================ TOPNAV */


.topnav {
z-index: 1;
overflow: hidden;
background-color: #161b22;
position: fixed;
top: 0;
width: 100%;
padding: 2px;
border-width: 0px 0px 3px 0px;
border-style: solid;
border-image-slice: 1;
border-image-source: linear-gradient(to left, #5af7dc, rgba(0, 0, 0, 0)); 

}

.topnav a {

float: right;
display: block;
text-align: center;
text-decoration: none;
font-size: 14px;
padding: 10px;
height:40px;
width: 90px;
border-radius: 5px;
}

.logo {
height: 100%;
}

.topnav a:hover {
  background-color: #073a67;
  color: black;
}

.topnav a.active {
  color: white;
  width: 100px;
  padding: 0px;
  float: left;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ============================================================ TOPNAV */

#playlist {
list-style: none;
display: block;
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
margin-left: auto;
margin-right: auto;
margin-top: 60px;
width: 100%;
padding-left: 0px;
padding-right: 0px;
padding-top: 10px;
padding-bottom: 120px;
 }

#playlist li{
display: inline-block;
object-fit: contain;
margin: 2px;
margin-top: 10px;
border: 2px solid #383d40;
background-color: #474139;
border-radius: 62% 38% 35% 65% / 44% 34% 66% 56% ;
padding: 4px;
width: 120px;
height: 120px;
}

li .oui-image-cover {
border-radius: 8px;
border: 0px solid;
object-fit: contain;
width: auto;
max-width: 96px;
height: 100%;
max-height: 66px;
margin-top: 10px;
}

body {
background-color: #161b22;
margin: 0;
text-align: center;
overscroll-behavior: contain;
}

img { 
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none; 
      -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
font-family: "OpenSymbol";
src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	 
color: #fff;
text-decoration: none;
line-height: 2;
font-size: 12px;
font-weight: bold;
}

:root {
--oui-thumbnail-radius: 16px;
}

.oui-image-caption {
margin: auto;
font-size: .8em;
color: var(--on-surface);
}
 
@font-face {
font-family: "OpenSymbol";
src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	
}


#playlist li:hover {
background: rgb(63,251,246);
background: -moz-radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ffbf6",endColorstr="#fc9246",GradientType=1);
}

#playlist .current-song{
background-color: #ffcc00;
}

audio{
display: none;
}
  
* {
box-sizing: border-box;
}

.column {
  display: table;
object-fit: contain;
float: left;
width: 25%;
padding: 5px;
cursor: pointer;
height: 100%;
border-radius: 999px;
transition: 0.6s;
border: 0px solid #1e5469;
}
.column:hover {
opacity: 0.9;
background-color: #A0A0A0	;
}



/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
#demo {
font-family: "OpenSymbol";
src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	
font-size: 14px;
font-weight: bold;
height: 100%;
color: #111;
text-decoration: none;
line-height: 1;
border: 3px solid #ffd664;
border-radius: 999px;
background-color: #ffd664;
margin: auto;
    text-align:center; 
  vertical-align: middle;
  display: table-cell; 
}
  

