@font-face {
  font-family: "OpenSymbol";
  src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	
  }

.install-app-btn-container {
  display: none;	
}

body {
  background-color: #161b22;
  background-size: auto;
  background-size:cover;
  margin: 0;
  text-align: center;
  font-size:100%;
  line-height:18px;
  }

.row {
z-index: 1;
width: 100%;
height: 70px;
position: fixed;
left: 50%; 
transform: translateX(-50%);
bottom: 0px;
border-color: #a09fcc;;
border-style: solid;
border-width: 2px 0px 0px 0px;
background-color: rgb(59, 56, 73);
display: flex;
justify-content: center;
object-fit: contain;
padding: 5px;
}

.column {
object-fit: contain;
float: left;
width: 25%;
max-width: 100px;
cursor: pointer;
height: 100%;
border-radius: 999px;
transition: 0.6s;
border: 0px solid #1e5469;
display: flex;
align-items: center;
justify-content: center;
}

.column img {
  height: 100%; 
  width: auto; 
  filter: invert(1); 
  display: table-cell;  
  padding: 5px;
  }

.column:hover {
opacity: 0.9;
background-color: #1a1a1a70	;
}

#playlist {
  list-style: none;
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
   }
  
  #playlist li{
  display: inline-block;
  object-fit: contain;
  margin-top: 20px;
  border-radius: 10px;
  overflow:hidden;
  }
  li a {
text-decoration: none;
    }

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 2px solid #263b2d;
  background-color: #5857548f;
  border-radius: 15px;
  margin: 2px;
}
.oui-image-cover {
background-color: #68686870;
display: block;
border-radius: 5px;
border: 0px solid;
object-fit: contain;
width: auto;
height: auto;
max-width: 100px;
max-height: 66px;
}

.radiotitle {
  margin-top: 10px; /* Adjust this value as needed for spacing */
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75em;
  color: aliceblue;
  border-radius: 5px;
  background-color: #1c862e41;
  padding-left: 5px;
  padding-right: 5px;
}


img { 
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
      -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

:root {
--oui-thumbnail-radius: 16px;
}

.oui-image-caption {
margin: auto;
font-size: .8em;
color: var(--on-surface);
}
 
#playlist li:hover {
background: rgb(63,251,246);
background: -moz-radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ffbf6",endColorstr="#fc9246",GradientType=1);
}

#playlist .current-video{
background-color: #ffcc00;
}

video{
display: none;
}
  
* {
box-sizing: border-box;
}



/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
#demo {
font-family: "OpenSymbol";
src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	
font-size: 14px;
font-weight: bold;
color: #3b3a3a;
border: 3px solid #ffd664;
border-radius: 999px;
background-color: #ffd664;
text-align:center;
line-height:;
display: table; 
position: relative;
padding: 6px;
}
  

