li .oui-image-cover {
border-radius: 8px;
border: 0px solid;
object-fit: contain;
width: auto;
max-width: 96px;
height: 100%;
max-height: 66px;
margin-top: 10px;
}


body {
background-color: #111;
margin: 0;
text-align: center;
overscroll-behavior: contain;
}
.navbar {
z-index: 1;
overflow: hidden;
background-color: #474139;
position: fixed;
top: 0;
width: 100%;
height: 52px;
padding: 2px;
border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #5af7dc, rgba(0, 0, 0, 0));
    
}
img { 
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none; 
      -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.navbar a {
float: right;
display: block;
text-align: center;
text-decoration: none;
padding: 0px 10px 0px 10px;
font-size: 14px;
border-radius: 999px;
background: #6a9477;

}

.navbar a:hover {
background: #ddd;
color: black;
}

.navbar img {
float: left;
height: 100%;
padding: 3px;
}

a {
font-family: "OpenSymbol";
src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	 
color: #fff;
text-decoration: none;
line-height: 2;
font-size: 12px;
font-weight: bold;
}

  
:root {
--oui-thumbnail-radius: 16px;
}



.oui-image-caption {
margin: auto;
font-size: .8em;
color: var(--on-surface);
}
@font-face {
font-family: "OpenSymbol";
src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	
}

#playlist {
list-style: none;
    display: inline-block;

    object-fit: contain;
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
margin-left: auto;
margin-right: auto;
margin-top: 70px;
width: 90%;
padding-left: 20px;
padding-right: 20px;
padding-top: 20;
padding-bottom: 120px;
        background-color: red;

border-radius: 40% 40% 30% 30% / 50% 50% 50% 50%;

        }
#playlist li{
display: inline-block;
  object-fit: contain;
margin: 2px;
margin-top: 10px;
border: 2px solid #383d40;
background-color: #474139;
border-radius: var(--oui-thumbnail-radius);
padding: 4px;
width: 120px;
height: 120px;
}
#playlist li:hover {
background: rgb(63,251,246);
background: -moz-radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(252,146,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ffbf6",endColorstr="#fc9246",GradientType=1);
}

#playlist .current-song{
background-color: #ffcc00;
}

audio{
display: none;
}
  
* {
box-sizing: border-box;
}

.column {
float: left;
width: 25%;
padding: 5px;
cursor: pointer;
height: 100%;
border-radius: 999px;
transition: 0.6s;
border: 0px solid #1e5469;
}
.column:hover {
opacity: 0.9;
background-color: #A0A0A0	;
}

.row {
z-index: 1;
width: 96%;
  max-width: 400px;
height: 5%;
min-height: 50px;
max-height: 70px;
position: fixed;
left: 50%; 
transform: translateX(-50%);
bottom: 10px;
border-radius: 15px;
border: 2px solid #1e5469;
background: rgb(235,81,141);
background: -moz-linear-gradient(142deg, rgba(235,81,141,1) 22%, rgba(28,58,142,1) 85%);
background: -webkit-linear-gradient(142deg, rgba(235,81,141,1) 22%, rgba(28,58,142,1) 85%);
background: linear-gradient(142deg, rgba(235,81,141,1) 22%, rgba(28,58,142,1) 85%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb518d",endColorstr="#1c3a8e",GradientType=1);
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
#demo {
font-family: "OpenSymbol";
src: url("https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@1.0.0/oui-css/fonts/samsungone-300-webfont.woff") format("truetype");	
font-size: 14px;
font-weight: bold;
height: 100%;
color: #111;
text-decoration: none;
line-height: 1;
border: 3px solid #ffd664;
border-radius: 999px;
background-color: #ffd664;
margin: auto;
}
  

