/* ============================================================ TOPNAV */


.topnav {
z-index: 3;
background-color: #161b22;
position: fixed;
top: 0;
width: 100%;
border-width: 0px 0px 3px 0px;
border-style: solid;
border-image-slice: 1;
border-image-source: linear-gradient(to left, #317066, rgba(0, 0, 0, 0)); 
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 0.75em;
display: flex;
align-items: center;
}

.topnav a {
display: flex;
align-items: center;
justify-content: center;
height:45px;
width: 45px;
border-width: 0px 0px 0px 1px;
border-style: solid;
border-color: #414b58;
flex-shrink: 0;
}
.topnav a .img {
  width: auto;
    height: 20px;
}

.logo {
height: auto;
width: 100px;
margin-left: 10px;
}
.logoimg {
  height: 100%;
  width: auto;
  margin-left: 10px;
  }

.topnav a:hover {
  background-color: #073a67;
  color: black;
}

.topnav a.active {
  color: white;
  width: auto;
  padding: 0 10px;
  border: none;
  flex-grow: 1;
  justify-content: flex-start;
}

.topnav .icon {
  display: none;
}

/* Search container styles */
.topnav .search-container {
    position: relative; /* For icon positioning */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.topnav #search-input {
    height: 35px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding-left: 35px; /* Space for icon */
    padding-right: 15px;
    font-size: 14px;
    transition: width 0.3s ease;
    vertical-align: middle;
}

.topnav #search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.topnav .search-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    filter: invert(1);
    z-index: 1;
}

/* Mobile responsive styles */
@media (max-width: 731px) {
    .logoimg {
        display: none;
    }
    .topnav #search-input {
        width: 0;
        padding-left: 18px; /* half of height */
        padding-right: 18px;
        border: none;
        visibility: hidden;
        cursor: pointer;
    }
    .topnav #search-input.active {
        width: 150px;
        padding-left: 35px;
        padding-right: 15px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        visibility: visible;
        cursor: text;
    }
    .topnav .search-icon {
        /* Icon is always visible and clickable */
    }
}

/* Desktop styles */
@media (min-width: 732px) {
    .topnav #search-input {
        width: 1.5in;
    }
}