/* ============================================================ TOPNAV */


.topnav {
z-index: 3;
overflow: hidden;
background-color: #161b22;
position: fixed;
top: 0;
width: 100%;
border-width: 0px 0px 3px 0px;
border-style: solid;
border-image-slice: 1;
border-image-source: linear-gradient(to left, #317066, rgba(0, 0, 0, 0)); 
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 0.75em;
}

.topnav a {
float: right;
display: flex;
align-items: center;
justify-content: center;
height:45px;
width: 45px;
border-width: 0px 0px 0px 1px;
border-style: solid;
border-color: #414b58;

}
.topnav a .img {
  width: auto;
    height: 20px;
}

.logo {
height: auto;
width: 100px;
margin-left: 10px;
}
.logoimg {
  height: 100%;
  width: auto;
  margin-left: 10px;
  }

.topnav a:hover {
  background-color: #073a67;
  color: black;
}

.topnav a.active {
  color: white;
  width: 170px;
  padding: 0px;
  float: left;
}

.topnav .icon {
  display: none;
}

/* ============================================================ TOPNAV */